# Dependencies
node_modules/

# Local Environment Variables
.env
.env.local

# Logs directory
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads directory (preserve folder via gitkeep)
uploads/*
!uploads/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db
